<h2>Qual a condição da gestante?</h2>

    <form method="POST" action="/">
        <div class="form-group">
            <input type="radio" id="hipertensao" name="option" value="hipertensao" required>
            <label for="hipertensao">Hipertensão</label>
        </div>

        <div class="form-group">
            <input type="radio" id="enxaqueca" name="option" value="enxaqueca">
            <label for="enxaqueca">Enxaqueca / Cefaleia</label>
        </div>

        <div class="form-group">
            <input type="radio" id="lombalgia" name="option" value="lombalgia">
            <label for="lombalgia">Lombalgia</label>
        </div>

        <div class="form-group">
            <input type="radio" id="disuria" name="option" value="disuria">
            <label for="disuria">Disúria / Infecção do Trato Urinário (ITU)</label>
        </div>

        <div class="form-group">
            <input type="radio" id="nauseas" name="option" value="nauseas">
            <label for="nauseas">Náuseas e Vômitos</label>
        </div>

        <div class="form-group">
            <input type="radio" id="pirose" name="option" value="pirose">
            <label for="pirose">Pirose</label>
        </div>

        <button type="submit">Verificar recomendações</button>
    </form>