<h2> Enxaqueca / Cefaleia</h2>
            <hr>

            <div class="alert-box">
                🚨 <strong>ATENÇÃO:</strong> Descartar sinais de alarme para Pré-Eclâmpsia (cefaleia refratária, alterações visuais/escotomas, epigastralgia, P A ≥ &ge; 140 / 90 mmHg, ). Se presentes,
                <strong>HENCAMINHAR À EMERGÊNCIA.</strong> 
            </div>

            <div class="section-title">
                TRATAMENTO AMBULATORIAL DE CRISE LEVE/MODERADA
            </div>

            <ul class="lista-tratamento">
                <li>
                    <strong>1ª ESCOLHA (Sintomático primário):</strong> Paracetamol 500 mg a 750 mg – VO, a cada 6 ou 8 horas (máximo 4 g/dia ). 
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 141 e 142 da REMUME: 500 mg comprimido e 200 mg/mL gotas; Item 59 da UBS: 750 mg).</li>
                    </ul>
                </li>
                <li>
                    <strong>2ª ESCOLHA / ADJUVANTE:</strong> Dipirona 500 mg – VO, a cada 6 horas ou em caso de dor.
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 66 e 67 da REMUME: 500 mg comprimido e gotas).</li>
                    </ul>
                </li>
                <li>
                    <strong>3ª ESCOLHA (Anti-inflamatórios - AINEs):</strong> Ibuprofeno 300 mg ou 600 mg – VO. 
                    <ul class="sublista">
                        ⚠️️ <strong>ATENÇÃO:</strong> Permitido apenas no 1º e 2º trimestres. Contraindicado no 3º trimestre (a partir da 28ª–30ª semana) pelo risco de fechamento precoce do ducto arterioso e oligoidramnia.
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 93, 94 e 95 da REMUME).</li>
                    </ul>
                </li>
            </ul>