<h2> LOMBALGIA</h2>
            <hr>

            <h3>MEDIDAS NÃO FARMACOLÓGICAS (Primeira Linha)</h3>
            <p>Correção postural, repouso relativo, compressas mornas, fisioterapia e exercícios leves.</p>

            <div class="section-title">
                TRATAMENTO FARMACOLÓGICO
            </div>

            <ul class="lista-tratamento">
                <li>
                    <strong>1ª ESCOLHA:</strong> Paracetamol 500 mg ou 750 mg &ndash; VO, a cada 6 a 8 horas conforme necessidade. . 
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 141 e 142 da REMUME).</li>
                    </ul>
                </li>
                <li>
                    <strong>2ª ESCOLHA:</strong>  Dipirona 500 mg &ndash; VO, a cada 6 a 8 horas.
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 66 e 67 da REMUME).</li>
                    </ul>
                </li>
                <li>
                    <strong>CASOS REFRATÁRIOS (Curto período, até a 28ª semana):</strong> Ibuprofeno 300 mg a 600 mg &ndash; VO. 
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 93, 94 e 95 da REMUME).</li>
                        ⚠️️ <strong>Observação:</strong> Evitar AINEs a partir do 3º trimestre.
                    </ul>
                </li>
            </ul>