<h2> NÁUSEAS E VÔMITOS</h2>
            <hr>

            <div class="alert-box">
                🚨 <strong>ATENÇÃO:</strong> Se vômitos incoercíveis com desidratação, perda ponderal ( > 5 ) ou cetonúria (Hiperêmese Gravídica grave), 
                <strong>ENCAMINHAR À EMERGÊNCIA / PRONTO-SOCORRO.</strong>
            </div>

            <div class="section-title">
                TRATAMENTO AMBULATORIAL
            </div>

            <ul class="lista-tratamento">
                <li>
                    <strong>Medidas Comportamentais:</strong> Fracionamento da dieta, evitar líquidos durante as refeições, preferir alimentos secos e frios ao acordar.
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Item 133 da REMUME).</li>
                    </ul>
                </li>
                <li>
                    <strong>1ª ESCOLHA:</strong> Metoclopramida 10 mg – VO, 15 a 30 minutos antes das refeições (a cada 8 horas) ou Gotas (4 mg/mL). 
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 117 e 118 da REMUME).</li>
                    </ul>
                </li>
                <li>
                    <strong>Alternativa de 1ª linha:</strong> Bromoprida 10 mg (ou gotas 4 mg/mL) – VO, a cada 8 horas. 
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Item 33 da REMUME).</li>
                    </ul>
                </li>
                <li>
                    <strong>2ª ESCOLHA (Casos moderados a refratários):</strong> Ondansetrona 4 mg ou 8 mg – VO, a cada 8 ou 12 horas.
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Itens 137, 138, 139 e 140 da REMUME).</li>
                    </ul>
                </li>
            </ul>