<h2> PIROSE / REFLUXO</h2>
            <hr>
            
            <div class="section-title">
                MEDIDAS NÃO FARMACOLÓGICAS (Primeira Linha)
            </div>

            Evitar deitar-se logo após comer, elevar a cabeceira da cama, evitar frituras, condimentos, café e refeições volumosas.
            
            <div class="section-title">
                TRATAMENTO FARMACOLÓGICO
            </div>

            <ul class="lista-tratamento">
                <li>
                    <strong>1ª ESCOLHA (Antiácidos de ação local):</strong> Hidróxido de Alumínio (suspensão oral 61 , 5  mg/mL ) – VO, 10 a 20 mL após as refeições e ao deitar. 
                    <ul class="sublista">
                        ⚠️️ <strong>Observação:</strong> Evitar o uso após a 36ª semana de gestação pelo risco de hemólise neonatal.
                        <li><strong>Status REMUME:</strong>  DISPONÍVEL (Item 92 da REMUME).</li>
                    </ul>
                </li>
                <li>
                    <strong>Alternativa de 1ª linha:</strong> Bromoprida 10 mg (ou gotas 4 mg/mL) – VO, a cada 8 horas. 
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Item 33 da REMUME).</li>
                    </ul>
                </li>
                <li>
                    <strong>2ª ESCOLHA (Inibidores da Bomba de Prótons - IBP / Sintomas Persistentes):</strong> Omeprazol 20 mg – VO, 1 vez ao dia pela manhã em jejum.
                    <ul class="sublista">
                        <li><strong>Status REMUME:</strong> DISPONÍVEL (Item 136 da REMUME).</li>
                    </ul>
                </li>
            </ul>